{% extends "base.html" %}

{% block title %}
	<title>Logout</title>
{% endblock %}

{% block content %}
<div class="container">
	<h1 class="h4">Logout</h1>
	<p>Are you sure you want to log out?</p>
	<form method="post" action="{% url 'logout' %}" style="display:inline;">
		{% csrf_token %}
		
		<button type="submit" class="btn btn-danger" aria-label="Logout">Logout</button>
	</form>

	<a href="{% url 'task-manager:index' %}" class="btn btn-secondary" aria-label="Cancel Logout">Cancel</a>
</div>
{% endblock %}
