<header class="bg-white py-3">
	<div class="container d-flex justify-content-between">
		<a href="{% url 'task-manager:worker-create' %}" class="text-dark text-decoration-none">
			<h1 class="display-6 fw-medium">DevFlow</h1>
		</a>
		<div>
			{% if user.is_authenticated %}
				<a href="{% url 'task-manager:worker-create' %}" class="btn btn-outline-secondary me-2" aria-label="Register New User">Register User</a>
				<a href="{% url 'task-manager:logout-confirmation' %}" class="btn btn-outline-danger" aria-label="Logout">Logout</a>
			{% else %}
				<a href="{% url 'login' %}" class="btn btn-outline-primary" aria-label="Login">Login</a>
			{% endif %}
		</div>
	</div>
</header>
