<nav id="sidebar" class="cd-md-block bg-dark text-light p-3 vh-100">
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link text-light" href="{% url 'task-manager:index' %}">Dashboard</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="{% url 'task-manager:user-tasks' %}">My Tasks</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="#">Colleagues</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="#">Categories</a>
		</li>
</ul>
</nav>