{% extends "base.html" %}

{% block title %}
	<title>{{ task.task_type.name }}: {{ task.name }} </title>
{% endblock %}

{% block content %}
	  <div class="container-fluid rounded shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card bg-light">
      <div class="card-header">
        <h3>
          {{ task.name }}
          <span class="text-danger">
            {{ task.deadline }}
          </span>
            <a style="float:right"
               href="#"
               class="btn btn-danger">
              Delete
            </a>
          {% if not task.is_completed %}
            <a style="float:right"
               href="{% url "task_manager:update-task" pk=task.id %}"
               class="btn btn-primary mr-3">
              Update
            </a>
          {% endif %}
        </h3>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h4>{{ task.task_type.name }}</h4>
        </div>
        <div class="card-text">
          <strong>Description:</strong> {{ task.description }}
        </div>
      </div>
    </div>

    {% if not task.is_completed %}
      <a href="#"
         class="btn btn-success mt-3">
        Mark as Done
      </a>
    {% endif %}

  </div>
{% endblock %}